h1.intro {
  text-align: center;
  color: darkgoldenrod;
}

h2.intro {
  text-align: center;
  color: coral;
}
img { 
  float: center;
}

p.intro {
  width: 50%;
  height: auto;
  margin: auto;
  font-style: italic;
  text-align: center;
}

p.author {
  witdth: 75%;
  font-style: italic;
  font-weight: bold;
}

.my-class {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid goldenrod;
  padding: 10px;
  width: 50%;
  background-color: coral;
  display: block;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  
}

.img-container {
  text-align: center;
  display: block;
}